<div class="md:hidden mobile-nav-container">
  <nav class="mobile-nav-box">
    <ul class="flex justify-around items-center">
      <li class="mobile-nav-item active"><i class="pi pi-list"></i><span>Entries</span></li>
      <li class="mobile-nav-item"><i class="pi pi-calendar"></i><span>Jump</span></li>
      <li class="mobile-nav-item"><i class="pi pi-cog"></i><span>Settings</span></li>
      <li class="mobile-nav-item"><i class="pi pi-plus"></i><span>New</span></li>
    </ul>
  </nav>
</div>
