<aside class="sidebar-container">

  <!-- LOGO -->
  <div class="sidebar-logo-section">
    <div class="logo-box">
      <lucide-icon [img]="icons.NotebookPen" class="h-5 w-5"></lucide-icon>
    </div>
    <span class="sidebar-title">Journal</span>
  </div>

  <!-- NAVIGATION -->
  <nav class="nav-menu">

    <a class="nav-item active">
      <lucide-icon [img]="icons.NotebookTabs" class="h-5 w-5"></lucide-icon>
      <span>Entries</span>
    </a>

    <a class="nav-item">
      <lucide-icon [img]="icons.CalendarDays" class="h-5 w-5"></lucide-icon>
      <span>Jump</span>
    </a>

    <a class="nav-item">
      <lucide-icon [img]="icons.Settings" class="h-5 w-5"></lucide-icon>
      <span>Settings</span>
    </a>

    <button class="nav-item w-full text-left">
      <lucide-icon [img]="icons.SquarePen" class="h-5 w-5"></lucide-icon>
      <span>New</span>
    </button>

  </nav>

  <!-- FOOTER -->
  <div class="footer-section">
    <div class="theme-toggle-card">
      <div class="flex items-center gap-3">
        <lucide-icon [img]="themeService.darkMode() ? icons.Moon : icons.Sun" class="h-4 w-4 text-zinc-500">

        </lucide-icon>
        <span class="toggle-label">Theme</span>
      </div>

      <div class="toggle-switch" (click)="themeService.toggleTheme()">
        <div class="toggle-dot transition-all duration-300" [class.translate-x-0]="!themeService.darkMode()"
          [class.translate-x-5]="themeService.darkMode()">
        </div>
      </div>
    </div>

    <!-- PROFILE -->
    <div class="profile-section">
      <div class="avatar">G</div>
      <div class="profile-info">
        <span class="profile-name">Guillermo Moran</span>
        <span class="profile-email">memo@example.com</span>
      </div>
    </div>
  </div>
</aside>
