<aside class="sidebar-container">

  <!-- LOGO -->
  <div class="sidebar-logo-section">
    <div class="logo-box">
      <lucide-icon [img]="icons.NotebookPen" class="h-5 w-5"></lucide-icon>
    </div>
    <span class="sidebar-title">Journal</span>
  </div>

  <!-- NAVIGATION -->
  <nav class="nav-menu">

    <a class="nav-item" routerLink="/entries" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">

      <lucide-icon [img]="icons.NotebookTabs" class="h-5 w-5"></lucide-icon>
      <span>Entries</span>
    </a>

    <a class="nav-item" routerLink="/jump" routerLinkActive="active">

      <lucide-icon [img]="icons.CalendarDays" class="h-5 w-5"></lucide-icon>
      <span>Jump</span>
    </a>

    <a class="nav-item" routerLink="/settings" routerLinkActive="active">

      <lucide-icon [img]="icons.Settings" class="h-5 w-5"></lucide-icon>
      <span>Settings</span>
    </a>

    <a class="nav-item" routerLink="/new" routerLinkActive="active">

      <lucide-icon [img]="icons.SquarePen" class="h-5 w-5"> </lucide-icon>
      <span>New</span>
    </a>

  </nav>

  <!-- FOOTER -->
  <div class="footer-section">

    @if (isMenuOpen()) { <popover /> }

    <div class="profile-card" [class.active]="isMenuOpen()" (click)="toggleMenu($event)">
      <div class="avatar">{{ userInitial() }}</div>
      <div class="profile-info">
        <span class="profile-name">{{ currentUser()?.username }}</span>
        <span class="profile-email">{{ currentUser()?.email }}</span>
      </div>
      <lucide-icon [img]="icons.Settings" class="h-4 w-4 text-gray-400 transition-transform"
        [class.rotate-180]="isMenuOpen()">
      </lucide-icon>
    </div>

  </div>
</aside>
