<form [formGroup]="entryForm" (ngSubmit)="saveEntry()">
  <div class="entry-container">
    <header class="entry-header">

      <div>
        <p class="entry-date"> {{ (isEditMode() ? entryForm.value.date : now()) | date: 'EEEE, MMMM d' }} </p>
        <p class="entry-time"> {{ (isEditMode() ? entryForm.value.date : now()) | date: 'h:mm a' }} </p>
      </div>

      <span class="save-status">{{ isEditMode() ? 'Editing' : (entryForm.valid ? 'Ready' : 'Draft') }} </span>

    </header>


    <section class="mood-section" #moodSection>
      <p class="section-label">How are you feeling today?</p>

      <button class="mood-select" (click)="toggleMoodMenu($event)">
        <span class="selected-mood">
          {{ selectedMood() ? selectedMood().emoji + ' ' + selectedMood().label : 'Select your mood' }}
        </span>
        <lucide-icon [img]="icons().ChevronDown" class="size-4" />
      </button>

      @if(showMoodMenu()) {
      <div class="mood-menu">
        @for (mood of moods(); track mood.id) {
        <button class="mood-option" (click)="selectMood(mood)">
          <span>{{ mood.emoji }}</span>
          <span>{{ mood.label }}</span>
        </button>
        }
      </div>
      }
    </section>


    <section class="title-section">
      <input formControlName="title" type="text" class="title-input"
        [placeholder]="isEditMode() ? 'Edit title...' : 'Give this moment a title...'" />
    </section>

    @if(showPhotoSection()){
    <section class="photo-section">

      <label class="photo-dropzone">

        <input type="file" multiple hidden />

        <div class="photo-drop-content">
          <div class="photo-icon"> 📷 </div>
          <p class="photo-title"> Add photos to this memory </p>
          <p class="photo-subtitle"> Drag & drop, paste or click to upload </p>
        </div>

      </label>

    </section>
    }


    <section class="editor-section">
      <textarea formControlName="content" class="journal-editor" placeholder="What's on your mind today?">
      </textarea>
    </section>


    <footer class="entry-footer">
      <input formControlName="tags" type="text" class="tags-input" placeholder="#gym #family #camping" />
      <button type="submit" class="save-button" [disabled]="entryForm.invalid">
        {{ isEditMode() ? 'Update entry' : 'Save entry' }}
      </button>
    </footer>

  </div>
</form>

@if (showExitModal()) {
<app-modal (onDecision)="handleModalDecision($event)" />
}
